@model Greet.Models.Greeting
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Greet</title>
    <style>
        body {
            background-color:honeydew;
        }
    </style>
</head>
<body>
    <h1>Greetings</h1>
    <p>@Model.GreetSomeone("Alex")</p>
    
</body>
</html>
