@model Post
@{
    ViewData["Title"] = "ViewImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View the image</h2>

<img style="-webkit-user-select: none;" src="@Model.Url">
<br/>
<a class="btn btn-danger" href="/Reddit/index">back</a>