<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        </br>
        <h1>Welcome to the Reddit clone</h1>
        <br>
        <a href="/createpost" class="btn btn-info">Submit new post</a>
        <a href="/showallofmyposts" class="btn btn-primary">Show all of my post</a>
        <h2 class="h2">Trending posts</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Score</th>
                <th>Upvote</th>
                <th>Down</th>
                <th>Content</th>
                <th>Posted by</th>
                <th>Created at</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}" th:object="${post}">
                <td th:text="${post.getScore()}"></td>
                <td>
                    <form action="/upvote" method="post">
                        <button class="btn-success" type="submit" name="id" th:value="${post.id}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
                <td>
                    <form action="/downvote" method="post">
                        <button class="btn-danger" type="submit" name="id" th:value="${post.id}">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </form>
                    </td>
                <!--<td th:text="${post.getContent()}"></td>-->
                <td>
                    <a th:href="@{${post.getId()}+'/getviewimage'}" th:text="${post.getContent()}"></a></td>

                <td>  Posted by test  </td>
                <td th:text="${post.getCreatedAt()}"></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-1"></div>
</div>
</body>
</html>