<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Title</title>
</head>
<body>

<h1>Movie database</h1>
<table>
   <thead>
  <tr>
      <td>ID</td>
      <td>Rating</td>
      <td>Title</td>
  </tr>
   </thead>
    <tbody>
    <tr th:each="movie : ${movies}" th:object="${movie}">
        <td th:text="*{getId()}"></td>
        <td th:text="*{getRating()}"></td>
        <td th:text="*{getTitle()}"></td>
    </tr>
    </tbody>
</table>
</br>
<form th:object="${newMovie}" action="addMovie" method="post">
    <input type="text" field="title">
    <input type="text" field="rating">
    <button type="submit">Add new movie </button>
</form>
</body>
</html>