@model List<User>
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h2">Service</h2>
<<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/Reddit/Submit" method="post">
            Title:
            <input type="text" name="Content" value="" placeholder="Whoa what a gif..." />
            URL:
            <input type="text" name="Url" value="" placeholder="Type the url" />
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        </br>
        <form action="/Reddit/Delete?id=id" method="post">
            Number to delete:
            <input type="number" name="id" value="" />
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div class="col-md-2"></div>

    </br>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>WrittenPosts</th>

        </tr>
        @if (Model[0].Name != null)
        {
            @for (int i = 0; i < Model.Count; i++)
            {

                <tr align="center">
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Email</td>
                    <td>@Model[i].Password</td>
                    <td>Model.user.WrittenPosts</td>
                </tr>


            }
        }
        else
        {
            <p>There is no user</p>
        }
    </table>


    </div>