<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        </br>
        <h1>Welcome to the Reddit clone</h1>
        <br>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Score</td>
                <td>Title</td>
                <td>Created at</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}" th:object="${post}">
                <td th:text="${post.getId()}"></td>
                <td th:text="${post.getScore()}"></td>
                <td th:text="${post.getContent()}"></td>
                <td th:text="${post.getCreatedAt()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-1"></div>
</div>
</body>
</html>