<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}">
    <meta charset="UTF-8">
    <title>Add new post</title>
</head>
<body>
<h1>Enter new post!</h1>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="/addnewfox" th:object="${fox}" method="post">
            <input type="text" th:field="*{name}" required/>
            <input type="text" th:field="*{description}">
            <select th:field="*{color}">
                <option value="green">Green</option>
                <option value="red">Red</option>
                <option value="black">Black</option>
                <option value="cyan">Cyan</option>
                <option value="white">White</option>
                <option value="spotty">Spotty</option>
            </select>
            <select th:field="*{type}">
                <option value="classic">Classic Red Fox</option>
                <option value="darwin">Darwin's Fox</option>
                <option value="arctic">Arctic Fox</option>
                <option value="culpeo">Culpeo</option>
            </select>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        </br>
        <a class="btn btn-info" href="/">Cancel</a>
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>